@import "tailwindcss";

@theme {
    --color-principale: #fce2c4;
    --color-bordure: #ffa945;
    --clip-triangle: polygon(0 0, 0 100%, 70% 100%);
}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .clip-triangle {clip-path: var(--clip-triangle)}
}

